<ion-content>
  <ion-spinner
  *ngIf="loading"
  class="spinner-center-page"
  name="crescent"
></ion-spinner>
  <span *ngIf="loading==false">

  <ion-back-button defaultHref="tabs"></ion-back-button>
  <video [src]="video?.video" width="100%" height="200" [poster]="video?.poster" controls>

  </video>

  <div>
    <h3> {{video?.serie.title}} </h3> 
    <p>  Season: {{video?.season}}  Episode: {{video?.episode}}</p>
    <h2> {{video?.title}} </h2>
    <p> {{video?.description}}</p>
  </div>
</span>



</ion-content>
