:host {
  ion-content {
    --background: black;
    ion-back-button {
      color: white;
      width: 60px;
      margin-left: 5px;
      height: 30px;
      margin: 8px;

    }
    div{
      h2{
        color: white;
      }
      h3{
        color: white;
      }
        margin-right: 15px;
        margin-left: 20px;
p{
        color: white;
    }

    }
    
  }
}
