:host{
    .slidediv{
        // background-color: black;
        margin-left: 8px;
    p{
        margin: 15px 0 5px 2px;
        font-weight: 600;
        font-size: 17px;
        color: white;

    }
    img{
        height: 150px;
        object-fit: cover;
        border-radius: 5px;
        width: 105px;
    }}
}